/* BACKGROUND */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(kepek/hatter.jpg);
}



#background-opacity {
    width: 100%;
    height: 1080px;
    background-color: #7A7A7A;
    opacity: 60%;
    position: fixed;
}

/* HEADER/NAV */

header nav {
    display: flex;
    position: absolute;
    height: 6vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header nav #logo {
    width: 2%;
    padding-left: 20px;
}

nav h1 {
    font-size: 2rem;
}

#sign_in {
    display: flex;
    align-items: center;
}

#sign_in img {
    padding-right: 20px;
    width: 30%;
}

#sign_in p {
    padding-right: 15px;
}

/* PLAY BUTTON */

#play_button {
    position: absolute;
    width: 518px;
    height: 182px;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 20%;
    margin-left: calc(50% - (518px / 2));
    animation-duration: 1s;
    cursor: pointer;
}

#play_button h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 6%;
}

/* Footer */

footer{
    height: 55px;
    width: 100%;
    background-color: black;
    opacity: 45%;
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    font-size: 24px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* PLAYER NUMBER BUTTONS*/

#mode_chooser {
    animation-duration: 1s;
    cursor: pointer;
    /* opacity: 0; */
    visibility: hidden;
}

#player1_button{
    position: absolute;
    width: 610px;
    height: 225px;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: calc(50% - (610px / 2));
    /* opacity: 0; */
}

#players2_button{
    position: absolute;
    width: 610px;
    height: 225px;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 30%;
    margin-left: calc(50% - (610px / 2));
    /* opacity: 0; */
}

#player1_button h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 8%;
}

#players2_button h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 9%;
}
/*PLAYER NAMER*/

#one_player_namer{
    width: 881px;
    height: 397px;
    position: absolute;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: calc(50% - (881px / 2));
}
#two_player_namer{
    width: 962px;
    height: 386px;
    position: absolute;
    background-color: black;
    color: red;
    border-radius: 50px;
    visibility: hidden;
    margin-top: 18%;
    margin-left: calc(50% - (881px / 2));
}
#player_name{
    position: relative;
    top: 174px;
    left: 183px;
    width: 513px;
    height: 90px;
}
#one_player_namer label{
    position: relative;
    top: 44px;
    left: 225px;
    font-size: 80px;
}

@keyframes fade_out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

