/* BACKGROUND */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
    /* border: 3px solid red; */
}

:root {
    --animation_time: 0.25s;
    --play_visible : visible;
    --mod_chooser_visible : hidden;
    --one_player: hidden;
    --two_player: hidden;    
    --size_chooser: hidden;
    --playboard: hidden;
    --play_more: hidden;
    --sign_in: hidden;
    --table_size: 3;
}

body {
    background-image: url(kepek/hatter.jpg);
}



#background-opacity {
    width: 100%;
    height: 1080px;
    background-color: #7A7A7A;
    opacity: 60%;
    position: fixed;
    
}

/* HEADER/NAV */

header nav {
    display: flex;
    position: absolute;
    height: 6vh;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header nav #logo {
    width: 2%;
    padding-left: 20px;
}

nav h1 {
    font-size: 2rem;
}

nav form {
    position: absolute;
    left: 360px;
}

#sign_in_nav {
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign_in img {
    padding-right: 20px;
    width: 30%;
}

#sign_in p {
    padding-right: 15px;
}

/* PLAY BUTTON */

#play_button {
    visibility: var(--play_visible);
    position: absolute;
    width: 518px;
    height: 182px;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 20%;
    margin-left: calc(50% - (518px / 2));
    animation-duration: var(--animation_time);
    cursor: pointer;
}

#play_button h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 6%;
}


/* SIGN IN */

#sign_in {
    height: 600px;
    width: 450px;
    background-color: black;
    color: red;
    display: flex;
    flex-direction: column;
    margin-top: calc(25% - (600px / 2));
    margin-left: calc(50% - (450px / 2));
    position: absolute;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    animation-duration: var(--animation_time);
    visibility: var(--sign_in);
}

#sign_in h1 {
    font-size: 3.5rem;
    padding: 50px; 
}

#sign_in input {
    width: 100%;
    height: 60%;
}

#name {
    margin-bottom: 25px;
} 

#sign_in h3 {
    font-size: 2rem;
    padding-top: 80px;
    cursor: pointer;
}

#sign_in img {
    width: 20%;
    padding-top: 50px;
    padding-bottom: 25px;
}

#sign_in_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new_profile {
    padding-right: 40px;
}

#sep {
    text-align: center;
    cursor: default;
}

#continue {
    padding-left: 40px;
}

/* Footer */

footer{
    height: 55px;
    width: 100%;
    background-color: black;
    opacity: 45%;
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    font-size: 24px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* PLAYER NUMBER BUTTONS*/

#mode_chooser {
    animation-duration: var(--animation_time);
    cursor: pointer;
    /* opacity: 0; */
    visibility: var(--mod_chooser_visible);
}

#player1_button{
    position: absolute;
    width: 610px;
    height: 225px;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: calc(50% - (610px / 2));
    /* opacity: 0; */
}

#players2_button{
    position: absolute;
    width: 610px;
    height: 225px;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 30%;
    margin-left: calc(50% - (610px / 2));
    /* opacity: 0; */
}

#player1_button h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 8%;
}

#players2_button h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 9%;
}
/*PLAYER NAMER*/

#one_player_namer{
    width: 881px;
    height: 397px;
    position: absolute;
    background-color: black;
    color: red;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: calc(50% - (881px / 2));
    visibility: var(--one_player);
    animation-duration: var(--animation_time);
}
#two_player_namer{
    width: 962px;
    height: 386px;
    position: absolute;
    background-color: black;
    color: red;
    border-radius: 50px;
    visibility: hidden;
    margin-top: 18%;
    margin-left: calc(50% - (881px / 2));
    visibility: var(--two_player);
}
#player_name{
    position: relative;
    top: 174px;
    left: 183px;
    width: 513px;
    height: 90px;
}
#one_player_namer label{
    position: relative;
    top: 44px;
    left: 225px;
    font-size: 80px;
}

#two_player_namer label:first-of-type{
    position: relative;
    top: 80px;
    left: 42px;
    font-size: 80px;
    /* margin-top: 83px; */
}

#two_player_namer label:last-of-type{
    position: relative;
    top: 150px;
    left: 42px;
    font-size: 80px;
    /* margin-top: 83px; */
}

#two_player_namer input{
    position: relative;
    top: 79px;
    left: 160px;
    width: 337px;
    height: 68px;
    text-align: center;
    font-size: 48px;
}
#two_player_namer input:last-of-type{
    top: 150px;
    left: 70px;
}

#size {
    visibility: var(--size_chooser);
    animation-duration: var(--animation_time);
}

#size_chooser{
    position: absolute;
    width: 572px;
    height: 642px;
    background-color: black;
    color: red;
    border-radius: 50px;
    top: 219px;
    margin-left: calc(25% - (572px / 2));

}

#table_size{
    font-size: 96px;
    margin-top: 25px;
    margin-left:73px;
    text-decoration: underline;
}
#size_chooser h2{
    color: white;
    font-size: 96px;
    border-radius: 100%;
    height: 150px;
    width: 239px;
}

#size3 {
    display: flex;
    position: relative;
    top: 81px;
    left: 167px;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
}
#size4{
    position: relative;
    top: 112px;
    left: 60px;
    /* border: 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#size5{
    position: relative;
    top: -40px;
    left: 310px;
    /* border: 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#size_projection{
    position: absolute;
    width: 572px;
    height: 642px;
    background-color: black;
    color: red;
    border-radius: 50px;
    top: 219px;
    margin-left: calc(75% - (572px / 2));
}
#size_projection h1{
    position: relative;
    font-size: 96px;
    text-decoration: underline;
    top: 80px;
    left: 190px;
}
#size_projection table{
position: relative;
    top: 59px;
    left: 108px;
}

#game_start {
    visibility: var(--playboard);
    animation-duration: var(--animation_time);
}

#game_table{
    position: relative;
    background-color: white;
    height: 666px;
    width: 666px;
    top: 150px;
    left: calc((100% - 666px) / 2);
    border-collapse: collapse;

}
#game_table td{
    border: 3px solid black;
    /* height: calc(666/var(table_size)) px;
    width: calc(666/var(table_size)) px; */
    overflow: hidden;
    text-align: center;
    font-size: 100px;
}
#player_1{
    width: 572px;
    height: 308px;
    background-color: black;
    color: red;
    position: absolute;
    top: 160px;
    left: 20px;
    border-radius: 50px;
}
#player_1 h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 8%;
}
#player_1 h3{
    font-size: 6rem;
    text-align: center;
    padding-top: 8%;
    color: white;
    margin-bottom: 20px;
}
#player_2{
    width: 572px;
    height: 308px;
    background-color: black;
    color: red;
    position: absolute;
    top: 160px;
    left: 1328px;
    border-radius: 50px;
}
#player_2 h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 8%;
}
#player_2 h3{
    font-size: 6rem;
    text-align: center;
    padding-top: 8%;
    color: white;
    margin-bottom: 20px;
}
#play_more{
    width: 572px;
    height: 308px;
    background-color: black;
    color: red;
    position: absolute;
    top: 300px;
    left: 1268px;
    border-radius: 50px;
}
#play_end {
    visibility: var(--play_more);
    animation-duration: var(--animation_time);
}

#who_won{
    width: 572px;
    height: 308px;
    background-color: black;
    color: red;
    position: absolute;
    top: 300px;
    left: 100px;
    border-radius: 50px;
}
#play_more h3{
    font-size: 3rem;
    text-align: center;
    padding-top: 8%;
    color: white;
    margin-bottom:20px;
}

#play_more #h1{
    font-size: 4rem;
    text-align: center;
    padding-top: 8%;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-evenly;
}
#winner{
    font-size: 5rem;
    text-align: center;
    padding-top: 17%;
}
@keyframes fade_out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

